* {
    box-sizing: border-box;
}

.icon {
    font-size: 40px;
    color: gray;
}

.one:hover .icon {
    color: blueviolet;
}

.test .two ul li a {
    color: gray;
}

.test .two ul li a:hover {
    color: blueviolet;
}